In [1]:
import pandas as pd

df = pd.read_csv("data/preprocessed_data/preprocessed_calories.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Duration    14999 non-null  float64
 1   Body_Temp   14999 non-null  float64
 2   Heart_Rate  14999 non-null  float64
 3   Age         14999 non-null  int64
 4   Gender      14999 non-null  object
 5   Calories    14999 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 703.2+ KB

In [3]:
from pycaret.regression import *

regression_setup = setup(
    data=df,
    target='Calories',
    normalize=True,
    transformation=True,
    session_id=42,
    verbose=True,
    train_size=0.8,
    fold=10,
    fold_shuffle=True,
)

In [4]:
top_models = compare_models(n_select=3)

Initiated  . . . . . . . . . . . . . . . . . .              11:48:14
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [5]:
tuned_models = [tune_model(m) for m in top_models]

Initiated  . . . . . . . . . . . . . . . . . .              11:48:34
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Initiated  . . . . . . . . . . . . . . . . . .              11:48:45
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Initiated  . . . . . . . . . . . . . . . . . .              11:50:27
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [6]:
best_tuned_model = compare_models(tuned_models, sort='R2')

Initiated  . . . . . . . . . . . . . . . . . .              11:52:34
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [14]:
evaluate_model(best_tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [8]:
final_model = finalize_model(best_tuned_model)

In [9]:
save_model(final_model, 'final_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Duration', 'Body_Temp',
                                              'Heart_Rate', 'Age'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Gender'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_encoding',
                  TransformerWrapper(include=['Gender'],
                                     transforme...
                  TransformerWrapper(transformer=PowerTransformer(standardize=False))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('actual_estimator',
                  LGBMRegressor(bagging_fraction=0.8, bagging_freq=3,
                                feature_fraction=0.8, learning_rate=0.2,
                                min_child_samples=6, min_split_gain=0.6,
                                n_jobs=-1, num_leaves=30, random_state=42,
                                reg_alpha=0.001, reg_lambda=5))]),
 'final_model.pkl')

In [10]:
predict_model(best_tuned_model)

[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3

,Duration,Body_Temp,Heart_Rate,Age,Gender,Calories,prediction_label
6723,27.0,41.200001,111.0,41,male,203.0,197.057938
6473,26.0,40.900002,113.0,68,male,223.0,237.105110
4679,2.0,38.400002,77.0,50,female,6.0,6.149969
862,24.0,40.799999,108.0,35,male,161.0,159.614198
7286,19.0,40.500000,97.0,22,male,86.0,82.697902
...,...,...,...,...,...,...,...
3297,14.0,40.400002,91.0,74,female,72.0,75.522712
14113,6.0,39.299999,86.0,23,male,16.0,16.065291
5514,7.0,39.700001,86.0,55,male,34.0,30.951761
9939,11.0,39.599998,101.0,30,male,61.0,57.630566
14346,23.0,40.500000,99.0,21,male,108.0,108.583201